.header {
    background-color: #71def1;
    color: rgb(255, 251, 0);
    text-align: center;
    border-radius: 10px;
    padding:1px;
}
body{
      background-color: rgb(255, 255, 255);
}
/* 导航条 */
.topnav {
    overflow: hidden;
    background-color: rgb(183, 184, 233);
    text-align:center;
}
/* 导航链接 */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1px 1px;
    text-decoration: none;
}
/* 链接 - 修改颜色 */
.topnav a:hover {
    background-color: rgb(248, 21, 21);
    color: rgb(255, 255, 255);
}
#rcorners1 {
    border-radius: 12px;
    padding: 20px;
}
#rcorners2 {
    border-radius: 50px;
    padding: 86px;
}
ul {
    list-style-type: none;
    margin: 0;
    border-radius: 12px;
}
li a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1px 1px;
    text-decoration: none;
}
